* 
{ 
	box-sizing: border-box; 
}

html, body { height: 100%; }

body
{
	background-color: #F1F3F4;
	font-family: 'Arimo', sans-serif;
	font-size: 12pt;
	color: #373C48;
}

.button
{
	outline: 0;
	border: 0;
	font: inherit;
	font-size: inherit;
	display: inline-block;
	height: 40px;
	line-height: 38px;
	background-color: #2B54FF;
	color: #FFFFFF;
	padding: 0 25px;
	border-radius: 5px;
}

.input
{
	outline: 0;
	border: 0;
	font: inherit;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	border: 2px solid #E1E7EE;
	border-radius: 5px;
	padding: 0 15px;
}

.input:focus
{
	border-color: #2B54FF;
}

.header
{
	background-color: #FFFFFF;
	height: 70px;
	border-bottom: 1px solid #E1E7EE;
}

.header__wrapper
{
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}

.logo
{
	flex-shrink: 0;
	width: 20%;
	padding: 5px 0;
}

.logo__image
{
	height: 60px;
}

.search-form
{
	flex-shrink: 0;
	width: 50%;
}

.search-form__wrapper
{
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0;
}

.search-form__input
{
	border-radius: 5px 0 0 5px;
	border-right: 0;
	width: 0; 
	min-width: 0; 
	flex-grow: 1;
}

.search-form__button
{
	border-radius: 0 5px 5px 0;
}

.user-block
{
	flex-shrink: 0;
	width: 30%;
}

.user-block__wrapper
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 10px 0;
}

.user-block__user-data
{
	flex-shrink: 0;
	line-height: 48px;
	margin-left: 20px;
}

.user-block__avatar
{
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	margin-left: 20px;
}

.wrapper
{
	display: flex;
	flex-wrap: wrap;
}

.sidebar
{
	flex-shrink: 0;
	background-color: #ffffff;
	width: 350px;
	padding: 50px;
}

.sidebar__title
{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #7F8794;
	font-weight: 500;
	letter-spacing: .2em;
	font-size: 11pt;
	margin: 30px 0;
}

.sidebar__title:first-child
{
	margin-top: 0;
}

.sidebar__menu li
{
	color: #7F8794;
	margin: 15px 0;
	transition: .3s;
}

.sidebar__menu li:last-child
{
	margin-bottom: 0;
}

.sidebar__menu li:hover
{
	color: #2B54FF;
	transform: translateX(10px);
	cursor: pointer;
}

.sidebar__menu-active
{
	color: #2B54FF !important;
	font-weight: 600;
}

.main
{
	flex-shrink: 0;
	width: 0; 
	min-width: 0; 
	flex-grow: 1;
	padding: 50px;
}

.content
{
	display: flex;
	flex-wrap: wrap;
}

.container
{
	width: 0; 
	min-width: 0; 
	flex-grow: 1;
	margin-right: 50px;
}

.container__title
{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #7F8794;
	font-weight: 500;
	letter-spacing: .2em;
	font-size: 11pt;
}

.messages
{
	background-color: #FFFFFF;
	width: 100%;
	margin-top: 50px;
	padding: 50px;
	border-radius: 5px;
}

.message
{
	border-bottom: 1px solid #E1E7EE;
	margin-bottom: 50px;
}

.message:last-child
{
	border: 0;
	margin: 0;
}

.message__title
{
	font-weight: 600;
	font-size: 14pt;
}

.message__info
{
	padding: 15px 0;
	color: #7F8794;
}

.message_author
{
	color: #2B54FF;
}

.message__bottom
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.message__tags
{
	width: 0; 
	min-width: 0; 
	flex-grow: 1;
}

.message__data
{
	width: 200px;
	text-align: right;
	font-size: 14pt;
	color: #4F5663;
}

.message__data b
{
	font-weight: 600;
}

.right-sidebar
{
	width: 300px;
	background-color: #ffffff;
	padding: 50px;
	border-radius: 5px;
}

.right-sidebar__title
{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #7F8794;
	font-weight: 500;
	letter-spacing: .2em;
	font-size: 11pt;
	margin: 30px 0;
}

.right-sidebar__title:first-child
{
	margin-top: 0;
}

.right-sidebar__online-users a
{
	text-decoration: none;
	color: inherit;
}

.right-sidebar__online-users a:hover
{
	color: #2B54FF;
}

.right-sidebar__ad
{
	width: 200px;
}

.footer
{
	background-color: #FFFFFF;
	padding: 20px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #7F8794;
}

.footer a
{
	text-decoration: none;
	color: #2B54FF;
}

.tag
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: lowercase;
	background-color: #dbe2ff;
	color: #2B54FF;
	padding: 0 15px;
	border-radius: 5px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	.header
	{
		height: auto;
	}
	.header__wrapper
	{
		flex-direction: column;
		align-items: center;
	}
	.search-form
	{
		width: 100%;
	}
	.user-block { display: none; }
	.sidebar { display: none; }
	.content
	{
		margin-top: 20px;
		flex-direction: column;
	}
	.messages
	{
		margin-top: 25px;
		padding: 25px;
		margin-bottom: 20px;
	}
	.main
	{
		padding: 15px;
	}
	.container
	{
		width: 100%;
	}

	.right-sidebar
	{
		width: 100%;
		padding: 25px;
	}

	.right-sidebar__ad
	{
		width: 100%;
	}
}